<a href="https://colab.research.google.com/github/Jomapime/Manejo_de_datos_en_Python/blob/main/Codigos/Manipulacion_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Manipulación de datos.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
df = pd.read_csv(url, header=None) #Cargar archivo csv, header = none cuando la base de datos no tiene nombres de columnas.

In [ ]:
df.head(10)
df.tail(10)

   0    1            2    3      4     5   ...    20   21    22  23  24     25
0   3    ?  alfa-romero  gas    std   two  ...   9.0  111  5000  21  27  13495
1   3    ?  alfa-romero  gas    std   two  ...   9.0  111  5000  21  27  16500
2   1    ?  alfa-romero  gas    std   two  ...   9.0  154  5000  19  26  16500
3   2  164         audi  gas    std  four  ...  10.0  102  5500  24  30  13950
4   2  164         audi  gas    std  four  ...   8.0  115  5500  18  22  17450
5   2    ?         audi  gas    std   two  ...   8.5  110  5500  19  25  15250
6   1  158         audi  gas    std  four  ...   8.5  110  5500  19  25  17710
7   1    ?         audi  gas    std  four  ...   8.5  110  5500  19  25  18920
8   1  158         audi  gas  turbo  four  ...   8.3  140  5500  17  20  23875
9   0    ?         audi  gas  turbo   two  ...   7.0  160  5500  16  22      ?

[10 rows x 26 columns]

In [ ]:
columnas = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

df.columns = columnas #Agregar nombres de columnas.
df.head() #Imprimir los primeros 6 datos del DataFrame.

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

### Importar otras bases de datos

In [ ]:
mnist = pd.read_csv("/content/sample_data/mnist_test.csv") #Importar bases de datos de colab
mnist.head()

   7  0  0.1  0.2  0.3  0.4  ...  0.662  0.663  0.664  0.665  0.666  0.667
0  2  0    0    0    0    0  ...      0      0      0      0      0      0
1  1  0    0    0    0    0  ...      0      0      0      0      0      0
2  0  0    0    0    0    0  ...      0      0      0      0      0      0
3  4  0    0    0    0    0  ...      0      0      0      0      0      0
4  1  0    0    0    0    0  ...      0      0      0      0      0      0

[5 rows x 785 columns]

In [ ]:
from google.colab import files
files.upload() #Importar archivos del computador.

{}

In [ ]:
excel = pd.read_excel("TASAS.xlsx") #Carga de archivo xlsx.
excel.head()

  Fecha (dd/mm/aaaa)      TRM  Unnamed: 2 Fecha (dd/mm/aaaa).1   TPM
0         2019-09-30  3462.01         NaN           2019-09-30  4.25
1         2019-10-01  3477.45         NaN           2019-10-01  4.25
2         2019-10-02  3491.29         NaN           2019-10-02  4.25
3         2019-10-03  3497.34         NaN           2019-10-03  4.25
4         2019-10-04  3467.60         NaN           2019-10-04  4.25

## Introducción a pandas.

In [ ]:
#print(df.dtypes) #Tipos de las variables

df.describe() #Resumen de las variables cuantitativas
df.describe(include = [object]) #Resumen de las variables cualitativas
df.describe(include = "all") #Resumen de todo.

         symboling normalized-losses    make  ...    city-mpg highway-mpg price
count   205.000000               205     205  ...  205.000000  205.000000   205
unique         NaN                52      22  ...         NaN         NaN   187
top            NaN                 ?  toyota  ...         NaN         NaN     ?
freq           NaN                41      32  ...         NaN         NaN     4
mean      0.834146               NaN     NaN  ...   25.219512   30.751220   NaN
std       1.245307               NaN     NaN  ...    6.542142    6.886443   NaN
min      -2.000000               NaN     NaN  ...   13.000000   16.000000   NaN
25%       0.000000               NaN     NaN  ...   19.000000   25.000000   NaN
50%       1.000000               NaN     NaN  ...   24.000000   30.000000   NaN
75%       2.000000               NaN     NaN  ...   30.000000   34.000000   NaN
max       3.000000               NaN     NaN  ...   49.000000   54.000000   NaN

[11 rows x 26 columns]

In [ ]:
df["symboling"] #Seleccionar columna symboling
df["make"] #Seleccionar columna make

df["num-of-doors"].value_counts() #Cuenta la cantidad de veces que se repiten las observaciones en num of doors.
df["make"].value_counts() #Cuenta la cantidad de veces que se repiten las observaciones en num of doors.

df["Nueva"] = df["symboling"]+1 #Crea la columna "Nueva", que es el resultado de sumarle 1 al valor de la columna symboling.
df.head()

   symboling normalized-losses         make  ... highway-mpg  price Nueva
0          3                 ?  alfa-romero  ...          27  13495     4
1          3                 ?  alfa-romero  ...          27  16500     4
2          1                 ?  alfa-romero  ...          26  16500     2
3          2               164         audi  ...          30  13950     3
4          2               164         audi  ...          22  17450     3

[5 rows x 27 columns]

### Seleccionar columnas.

In [ ]:
df2 = df[["symboling", "make", "price", "num-of-doors"]] #Seleccionar columnas.
df2.head()

   symboling         make  price num-of-doors
0          3  alfa-romero  13495          two
1          3  alfa-romero  16500          two
2          1  alfa-romero  16500          two
3          2         audi  13950         four
4          2         audi  17450         four

In [ ]:
df3 = df.drop(["normalized-losses", "aspiration", "body-style", "symboling"],axis=1) #Axis 1 para eliminar columnas. Para filas se coloca 0
df3.head()

          make fuel-type num-of-doors  ... highway-mpg  price  Nueva
0  alfa-romero       gas          two  ...          27  13495      4
1  alfa-romero       gas          two  ...          27  16500      4
2  alfa-romero       gas          two  ...          26  16500      2
3         audi       gas         four  ...          30  13950      3
4         audi       gas         four  ...          22  17450      3

[5 rows x 23 columns]

## Valores faltantes / Missing values

In [ ]:
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [ ]:
df.replace('?',np.NaN)  #Reemplzazar ? por valores NaN. Sin embargo no se hace ningun cambio en el DF.
df.head()
df.replace('?',np.NaN,inplace=True) #valor a cambiar, valor a poner. Inplace es para modificar directamente el DF
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               NaN  alfa-romero  ...       21          27  13495
1          3               NaN  alfa-romero  ...       21          27  16500
2          1               NaN  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [ ]:
missing_data = df.isnull() # Devuelve datos booleanos, Falso para cuando haya dato, verdadero cuando este vacío.
missing_data.head(5) #Imprime los primeros 5 datos.
print (missing_data["normalized-losses"].value_counts()) #Cantidad de valores que faltan en la columna normalized  losses.
print (missing_data["num-of-doors"].value_counts()) #Cantidad de valores que faltan en la columna num of doors.

False    203
True       2
Name: num-of-doors, dtype: int64

### Eliminar las filas

In [ ]:
df.dropna(subset=["normalized-losses"],axis = 0, inplace = True) #Eliminar los NA en la columna. Axis= 0 elimina filas, axis = 1 elimina las columnas
#Recuerde que si quiere modificar el df puede poner inplace = True.

Sin_NA = df.dropna(subset=["normalized-losses"],axis = 0) #Se crea un nuevo df
Sin_NA.head() #Se imprimen los primeros datos.

    symboling normalized-losses  make  ... city-mpg highway-mpg  price
3           2               164  audi  ...       24          30  13950
4           2               164  audi  ...       18          22  17450
6           1               158  audi  ...       19          25  17710
8           1               158  audi  ...       17          20  23875
10          2               192   bmw  ...       23          29  16430

[5 rows x 26 columns]

### Sustituir con el promedio.

In [ ]:
# Para calcular el promedio se hace con la funcion .mean(), Para esto toca tener en cuenta el tipo de dato que estamos trabajando.  
#Promedio para "normalized - losses"
df.dtypes #Mirar los tipos de datos del DF.
#df["normalized-losses"].mean() -  ERROR

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [ ]:
#as.type para cambiar los tipos de datos.
Promedio = df["normalized-losses"].astype("float").mean() #Se cambia el tipo de dato, se determina el promedio y se crea el objeto promedio con ese dato.
print("El promedio de la variable normalized-losses es:",Promedio)
df["normalized-losses"].replace(np.NaN, Promedio, inplace = True) #Se reemplazan los NA con el promedio.
df.head()

El promedio de la variable normalized-losses es: 122.0

### Sustituir con la moda - Variable cualitativas.

In [ ]:
df["num-of-doors"].value_counts().idxmax() #Contar el valor que mas se repite.
df["num-of-doors"].replace(np.nan, "four", inplace = True) #Cambiar NA por "four"
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               122  alfa-romero  ...       21          27  13495
1          3               122  alfa-romero  ...       21          27  16500
2          1               122  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [ ]:
missing_data = df.isnull()
missing_data.head()
missing_data["num-of-doors"].value_counts() #Vuelve a contar los datos faltantes.

False    205
Name: num-of-doors, dtype: int64

### EJERCICIO

**Ejercicio:** Calcule el promedio de la variable "price" y reemplace los valores faltantes en el dataframe.

## Formato de datos.

### Variables cualitativas.

![Formulario.PNG]()![Formatting.PNG]()

In [ ]:
df.replace('ohcv',"ohc",inplace=True) #valor a cambiar, valor a poner. Inplace es para modificar directamente el DF
df.head()

### Variables cuantitativas - Unidades de medida

Suponga que usted necesita hacer un informe o presentación con los datos que están ahí, pero acá en Colombia no se maneja millas por galón, se manejan kilómetros por litro. Entonces lo ideal sería convertir esos datos que tienen la denominación mpg a L/100km.

In [ ]:
df["city_L/KM"] = 235.2/df["city-mpg"]
df.head()

   symboling normalized-losses         make  ... highway-mpg  price  city_L/KM
0          3               122  alfa-romero  ...          27  13495  11.200000
1          3               122  alfa-romero  ...          27  16500  11.200000
2          1               122  alfa-romero  ...          26  16500  12.378947
3          2               164         audi  ...          30  13950   9.800000
4          2               164         audi  ...          22  17450  13.066667

[5 rows x 27 columns]

## Normalizacion

Valor actual / valor maximo 

$$
\frac{Valor actual}{valor maximo}
$$

In [ ]:
df["width"] = df["width"]/df["width"].max()
df[["width", "height"]].head()

      width  height
0  0.886584    48.8
1  0.886584    48.8
2  0.905947    52.4
3  0.915629    54.3
4  0.918396    54.3

**Ejercicio:** Normalice la columna "height" y luego imprima las primeras observaciones de width y heigth.

In [ ]:
df["height"] = df["height"]/df["height"].max()
df[["width", "height"]].head()

      width    height
0  0.886584  0.816054
1  0.886584  0.816054
2  0.905947  0.876254
3  0.915629  0.908027
4  0.918396  0.908027

## Estandarización estadística.

(valor actual - media)/desviacion estandar


$$
\frac{valoractual - media}{desviacion}
$$

In [ ]:
df["length"] = (df["length"] - df["length"].mean())/df["length"].std()
df["length"].head()
df[["width", "height", "length"]].head()

      width    height    length
0  0.886584  0.816054 -0.425480
1  0.886584  0.816054 -0.425480
2  0.905947  0.876254 -0.230948
3  0.915629  0.908027  0.206750
4  0.918396  0.908027  0.206750

## Data binning.

Se usa para agrupar valores dependiendo de el valor de la observacion.

In [ ]:
df["price"] = df["price"].astype("float") #se pasa price a float.
bins = np.linspace(min(df["price"]),max(df["price"]),4) #se crea el vector con los rangos.
etiquetas = ["bajo","medio","alto"] #Etiquetas para la nueva columna.
df["binning"] = pd.cut(df["price"], bins, labels= etiquetas,
                       include_lowest=True) #Se crea la columna nueva con las etiquetas de los rangos.
df.head(10)

In [ ]:
df["price"] = df["price"].astype("float")
bins = [0,15000,20000,50000] #Se establecen rangos manualmente.
etiquetas = ["bajo","medio","alto"]
df["binning"] = pd.cut(df["price"], bins, labels= etiquetas, include_lowest=True)
df.head(10)

   symboling normalized-losses         make  ...    price  city_L/KM binning
0          3               122  alfa-romero  ...  13495.0  11.200000    bajo
1          3               122  alfa-romero  ...  16500.0  11.200000   medio
2          1               122  alfa-romero  ...  16500.0  12.378947   medio
3          2               164         audi  ...  13950.0   9.800000    bajo
4          2               164         audi  ...  17450.0  13.066667   medio
5          2               122         audi  ...  15250.0  12.378947   medio
6          1               158         audi  ...  17710.0  12.378947   medio
7          1               122         audi  ...  18920.0  12.378947   medio
8          1               158         audi  ...  23875.0  13.835294    alto
9          0               122         audi  ...      NaN  14.700000     NaN

[10 rows x 28 columns]

## Filtro de datos.

In [ ]:
df[(df["body-style"] == "convertible")] #Filtrar datos de los carros con dato convertible en la columna body-style.

     symboling normalized-losses           make  ...    price  city_L/KM binning
0            3               122    alfa-romero  ...  13495.0  11.200000    bajo
1            3               122    alfa-romero  ...  16500.0  11.200000   medio
72           3               142  mercedes-benz  ...  35056.0  14.700000    alto
128          3               122        porsche  ...  37028.0  13.835294    alto
172          2               134         toyota  ...  17669.0   9.800000   medio
189          3               122     volkswagen  ...  11595.0   9.800000    bajo

[6 rows x 28 columns]

In [ ]:
df[(df["symboling"] < -1)] #Filtrar los datos de los carros que pengan puntaje menor a -1 en symboling.

     symboling normalized-losses   make  ...    price  city_L/KM binning
194         -2               103  volvo  ...  12940.0  10.226087    bajo
196         -2               103  volvo  ...  15985.0   9.800000   medio
198         -2               103  volvo  ...  18420.0  13.835294   medio

[3 rows x 28 columns]

In [ ]:
df[(df["symboling"] > 1) & (df["make"] == "audi")] #Filtrar datos con condiciones en dos columnas
# Se filtran las observaciones que cumplan con las dos.

   symboling normalized-losses  make  ...    price  city_L/KM binning
3          2               164  audi  ...  13950.0   9.800000    bajo
4          2               164  audi  ...  17450.0  13.066667   medio
5          2               122  audi  ...  15250.0  12.378947   medio

[3 rows x 28 columns]

In [ ]:
bmw_audi = df[df.make.isin(["bmw","audi"])] #Filtrar dos o mas datos de una sola variable.
bmw_audi

    symboling normalized-losses  make  ...    price  city_L/KM binning
3           2               164  audi  ...  13950.0   9.800000    bajo
4           2               164  audi  ...  17450.0  13.066667   medio
5           2               122  audi  ...  15250.0  12.378947   medio
6           1               158  audi  ...  17710.0  12.378947   medio
7           1               122  audi  ...  18920.0  12.378947   medio
8           1               158  audi  ...  23875.0  13.835294    alto
9           0               122  audi  ...      NaN  14.700000     NaN
10          2               192   bmw  ...  16430.0  10.226087   medio
11          0               192   bmw  ...  16925.0  10.226087   medio
12          0               188   bmw  ...  20970.0  11.200000    alto
13          0               188   bmw  ...  21105.0  11.200000    alto
14          1               122   bmw  ...  24565.0  11.760000    alto
15          0               122   bmw  ...  30760.0  14.700000    alto
16          0               122   bmw  ...  41315.0  14.700000    alto
17          0               122   bmw  ...  36880.0  15.680000    alto

[15 rows x 28 columns]

## Crear funciones en python.

$$
\frac{"valoractual" - media}{desviacion}
$$

In [ ]:
def estandarizacion(v):
  media= v.astype("float").mean()
  desviacion = v.std()

  return((v-media)/desviacion)

In [ ]:
estandarizacion(df["wheel-base"])

0     -1.686643
1     -1.686643
2     -0.706865
3      0.173274
4      0.106848
         ...
200    1.717669
201    1.717669
202    1.717669
203    1.717669
204    1.717669
Name: wheel-base, Length: 205, dtype: float64